<!DOCTYPE html>
<html>
  <head>
    <title>AdministracionEmpresa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application','data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container mx-auto">
      <div class="my-5">
        <div class="rounded ring-2 py-3 px-6 my-3 bg-green-200 shadow-lg animate-bounce">
          <a href="https://rubyyagi.com/tailwind-css-on-rails-6-intro/#installing-tailwind-css-on-your-rails-app" target="_blank">Tutorial que no probe sobre tailwind y rails 6</a>
        </div>
        <div class="rounded ring-2 py-3 px-6 my-3 bg-green-200 shadow-lg animate-bounce">
          <a href="https://dev.to/bodhish/adding-tailwindcss-to-your-rails-6-project-2nk" target="_blank">Este lo probé, seguí paso a paso, pero me salió un error</a>
        </div>
        <div class="rounded ring-2 py-3 px-6 my-3 bg-green-200 shadow-lg animate-bounce">
          <a href="https://stackoverflow.com/questions/64903529/postcss-plugin-errors-with-rails-6-and-tailwindcss" target="_blank">La respuesta de <strong>Duarte</strong> es la que me resolvió el problema del link anterior</a>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
